# Eda

In [3]:
import pandas as pd

df = pd.read_csv('../training/iMaterialist(Fashion)/train.csv')
df

,ImageId,EncodedPixels,Height,Width,ClassId
0,00000663ed1ff0c4e0132b9b9ac53f6e.jpg,6068157 7 6073371 20 6078584 34 6083797 48 608...,5214,3676,6
1,00000663ed1ff0c4e0132b9b9ac53f6e.jpg,6323163 11 6328356 32 6333549 53 6338742 75 63...,5214,3676,0
2,00000663ed1ff0c4e0132b9b9ac53f6e.jpg,8521389 10 8526585 30 8531789 42 8537002 46 85...,5214,3676,28
3,00000663ed1ff0c4e0132b9b9ac53f6e.jpg,12903854 2 12909064 7 12914275 10 12919485 15 ...,5214,3676,31
4,00000663ed1ff0c4e0132b9b9ac53f6e.jpg,10837337 5 10842542 14 10847746 24 10852951 33...,5214,3676,32
...,...,...,...,...,...
331208,fffe20b555b98c3c1f26c8dfff275cbc.jpg,2712731 8 2715725 23 2718719 39 2721713 55 272...,3000,2001,28
331209,ffffbf7014a9e408bfbb81a75bc70638.jpg,71179 1 71678 3 72178 4 72678 4 73178 5 73679 ...,500,375,33
331210,ffffbf7014a9e408bfbb81a75bc70638.jpg,116648 5 117148 16 117648 22 118148 26 118647 ...,500,375,31
331211,ffffbf7014a9e408bfbb81a75bc70638.jpg,67711 1 68210 1 68709 2 69204 2 69208 3 69705 ...,500,375,31
331212,ffffbf7014a9e408bfbb81a75bc70638.jpg,63365 36 63852 77 64343 85 64838 89 65332 94 6...,500,375,10

In [7]:
df.ImageId.value_counts()

ImageId
361cc7654672860b1b7c85fe8e92b38a.jpg    74
7cf836aab94cde732a337bbd969379fb.jpg    55
b7d1d6947d932192acfb98aac2efb622.jpg    54
46d4674b701a9df098c2bc87d7951f2f.jpg    54
94f8ed8e4f2ff4662c720a3e160dee09.jpg    53
                                        ..
64ce9ba1457ad0c5a54ea2b853edc2ab.jpg     1
f85d6b18ab1e22ab4d12dcca22b8aa0c.jpg     1
6d563242ee30ca856296e1e9e9771829.jpg     1
ed5166447ee93e22e2a7b6b0e34a82d5.jpg     1
e4fac43371cabff951df6b9d4bb2c0e0.jpg     1
Name: count, Length: 45195, dtype: int64

In [9]:
df[df.ImageId == '361cc7654672860b1b7c85fe8e92b38a.jpg'].ClassId.value_counts()

ClassId
42    58
35     6
23     2
31     2
6      1
4      1
1      1
32     1
28     1
33     1
Name: count, dtype: int64

In [16]:
df.ClassId.value_counts()

ClassId
31                           58810
23                           46206
33                           33902
32                           27037
10                           15585
                             ...
10_4_10_20_22_53_61_69_88        1
7_5_15_20_42_60_72_89            1
10_7_10_20_33_53_61_88           1
10_3_13_20_34_60_61_88           1
3_6_11_19_40_60_61_88            1
Name: count, Length: 6354, dtype: int64

In [26]:
df.shape

(331213, 5)

In [25]:
df[df.ClassId.str.contains('_')]

,ImageId,EncodedPixels,Height,Width,ClassId
42,000aac3870ea7c59ca0333ffa5327323.jpg,8971124 17 8975101 49 8979077 82 8983053 116 8...,4000,6000,10_3_20_34_56_69_91
44,000aac3870ea7c59ca0333ffa5327323.jpg,8621972 2 8625970 5 8629968 9 8633966 13 86379...,4000,6000,3_1_10_20_41_60_61_91
48,000b3a87508b0fa185fbd53ecbe2e4c6.jpg,291578 3 292856 8 294133 13 295410 19 296687 2...,1280,852,10_5_19_33_59_61_66_88
92,000e973c99dc090afd7898c93daf0dbc.jpg,4796962 5 4801882 14 4806801 24 4811721 33 481...,4928,3264,4_0_20_41_60_72_88
97,000e973c99dc090afd7898c93daf0dbc.jpg,5798129 11 5803042 35 5807956 58 5812870 80 58...,4928,3264,6_8_20_39_60_70
...,...,...,...,...,...
331136,fff36676cdac2dd8d057783f0e9f24cc.jpg,944865 1 947120 2 949374 5 951628 7 953883 8 9...,2256,1500,8_3_20_33_60_61
331137,fff36676cdac2dd8d057783f0e9f24cc.jpg,486087 4 488337 13 490587 21 492837 30 495087 ...,2256,1500,3_6_11_19_40_60_61_88
331163,fff65379ba62e3f6498a20e9cc2a99fe.jpg,5913102 5 5917131 10 5921163 12 5925195 14 592...,4032,3024,1_0_20_41_49_61
331165,fff65379ba62e3f6498a20e9cc2a99fe.jpg,5711932 7 5715964 21 5716079 11 5719996 36 572...,4032,3024,6_8_15_20_40_60_61_87
331166,fff65379ba62e3f6498a20e9cc2a99fe.jpg,5401224 108 5405226 147 5409247 162 5413269 17...,4032,3024,9_3_10_20_41_60_61_91

In [10]:
import json

label_description = open('../training/iMaterialist(Fashion)/label_descriptions.json').read()
label_description = json.loads(label_description)
label_description.keys()

dict_keys(['info', 'categories', 'attributes'])

In [17]:
label_description_info = label_description['info']
label_description_categories = pd.DataFrame(label_description['categories'])
label_description_attributes = pd.DataFrame(label_description['attributes'])

In [18]:
label_description_categories

    id                                     name   supercategory  level
0    0                            shirt, blouse       upperbody      2
1    1                 top, t-shirt, sweatshirt       upperbody      2
2    2                                  sweater       upperbody      2
3    3                                 cardigan       upperbody      2
4    4                                   jacket       upperbody      2
5    5                                     vest       upperbody      2
6    6                                    pants       lowerbody      2
7    7                                   shorts       lowerbody      2
8    8                                    skirt       lowerbody      2
9    9                                     coat       wholebody      2
10  10                                    dress       wholebody      2
11  11                                 jumpsuit       wholebody      2
12  12                                     cape       wholebody      2
13  13                                  glasses            head      2
14  14                                      hat            head      2
15  15  headband, head covering, hair accessory            head      2
16  16                                      tie            neck      2
17  17                                    glove  arms and hands      2
18  18                                    watch  arms and hands      2
19  19                                     belt           waist      2
20  20                               leg warmer   legs and feet      2
21  21                        tights, stockings   legs and feet      2
22  22                                     sock   legs and feet      2
23  23                                     shoe   legs and feet      2
24  24                              bag, wallet          others      2
25  25                                    scarf          others      2
26  26                                 umbrella          others      2
27  27                                     hood   garment parts      2
28  28                                   collar   garment parts      2
29  29                                    lapel   garment parts      2
30  30                                epaulette   garment parts      2
31  31                                   sleeve   garment parts      2
32  32                                   pocket   garment parts      2
33  33                                 neckline   garment parts      2
34  34                                   buckle        closures      2
35  35                                   zipper        closures      2
36  36                                 applique     decorations      2
37  37                                     bead     decorations      2
38  38                                      bow     decorations      2
39  39                                   flower     decorations      2
40  40                                   fringe     decorations      2
41  41                                   ribbon     decorations      2
42  42                                    rivet     decorations      2
43  43                                   ruffle     decorations      2
44  44                                   sequin     decorations      2
45  45                                   tassel     decorations      2

In [21]:
label_description_categories.supercategory.value_counts()

supercategory
decorations       10
garment parts      7
upperbody          6
wholebody          4
legs and feet      4
lowerbody          3
head               3
others             3
arms and hands     2
closures           2
neck               1
waist              1
Name: count, dtype: int64

In [22]:
label_description_attributes

    id                     name supercategory  level
0    0   above-the-hip (length)        length      1
1    1             hip (length)        length      1
2    2           micro (length)        length      1
3    3            mini (length)        length      1
4    4  above-the-knee (length)        length      1
..  ..                      ...           ...    ...
87  87               high waist     waistline      1
88  88             normal waist     waistline      1
89  89                low waist     waistline      1
90  90       basque (wasitline)     waistline      1
91  91             no waistline     waistline      1

[92 rows x 4 columns]

In [23]:
label_description_attributes.supercategory.value_counts()

supercategory
silhouette                                     25
textile pattern                                18
textile finishing, manufacturing techniques    17
length                                         10
opening type                                    9
waistline                                       7
animal                                          6
Name: count, dtype: int64

# Создание датасета

In [21]:
import pandas as pd
import json

label_description = open('../training/iMaterialist(Fashion)/label_descriptions.json').read()
image_info = json.loads(label_description)

categories = pd.DataFrame(image_info['categories'])
attributes = pd.DataFrame(image_info['attributes'])

train_df = pd.read_csv('../training/iMaterialist(Fashion)/train.csv')

# find records with attributes
train_df['hasAttributes'] = train_df.ClassId.apply(lambda x: x.find("_") > 0)

# get main category
train_df['CategoryId'] = train_df.ClassId.apply(lambda x: x.split("_")[0]).astype(int)

# supercategory - это категории по типу(верхняя часть тела, нижняя, голова и т д) - по ней для сегмы надо определить в группы
# name - тут более подробное описание - что на картинке есть

train_df = train_df.merge(categories, left_on="CategoryId", right_on="id")
train_df

,ImageId,EncodedPixels,Height,Width,ClassId,hasAttributes,CategoryId,id,name,supercategory,level
0,00000663ed1ff0c4e0132b9b9ac53f6e.jpg,6068157 7 6073371 20 6078584 34 6083797 48 608...,5214,3676,6,False,6,6,pants,lowerbody,2
1,000775b6b5e27b011dc8bba2d7b85211.jpg,618579 4 620176 10 621775 14 623375 15 624974 ...,1600,1067,6,False,6,6,pants,lowerbody,2
2,000b3ec2c6eaffb491a5abb72c2e3e26.jpg,701292 5 703597 15 705903 25 708209 34 710515 ...,2310,1536,6,False,6,6,pants,lowerbody,2
3,000c5bb8ca785bce8d00e3a6c7802a8c.jpg,228212 5 229230 11 230254 12 231277 13 232300 ...,1024,683,6,False,6,6,pants,lowerbody,2
4,000e973c99dc090afd7898c93daf0dbc.jpg,5798129 11 5803042 35 5807956 58 5812870 80 58...,4928,3264,6_8_20_39_60_70,True,6,6,pants,lowerbody,2
...,...,...,...,...,...,...,...,...,...,...,...
331208,f425d57c29436bd2bf0bad31022636c4.jpg,147252 2 147971 4 148689 8 149408 10 150127 11...,720,488,45,False,45,45,tassel,decorations,2
331209,f425d57c29436bd2bf0bad31022636c4.jpg,150761 1 151480 2 152198 5 152917 6 153635 8 1...,720,488,45,False,45,45,tassel,decorations,2
331210,f7ce41b4071c3bf87e340ca69f4c6417.jpg,2247662 1 2250041 4 2252420 7 2254800 9 225717...,2382,1500,45,False,45,45,tassel,decorations,2
331211,f7ce41b4071c3bf87e340ca69f4c6417.jpg,2426357 4 2428734 10 2431111 17 2433487 24 243...,2382,1500,45,False,45,45,tassel,decorations,2
331212,f96bffb22c42bd3beb968d5ff5583c6b.jpg,2819216 1 2821628 4 2824041 6 2826454 8 282886...,2415,1500,45,False,45,45,tassel,decorations,2

In [24]:
size_df = train_df.groupby("ImageId")[["Height", "Width"]].mean().reset_index()
temp_df = (
            train_df.groupby("ImageId")[["EncodedPixels", "CategoryId", "name", "supercategory"]]
            .agg(lambda x: list(x))
            .reset_index()
        )
temp_df = temp_df.merge(size_df, on="ImageId", how="left")
temp_df

,ImageId,EncodedPixels,CategoryId,name,supercategory,Height,Width
0,00000663ed1ff0c4e0132b9b9ac53f6e.jpg,[6068157 7 6073371 20 6078584 34 6083797 48 60...,"[6, 0, 28, 31, 31, 32, 32, 29, 4]","[pants, shirt, blouse, collar, sleeve, sleeve,...","[lowerbody, upperbody, garment parts, garment ...",5214.0,3676.0
1,0000fe7c9191fba733c8a69cfaf962b7.jpg,[2201176 1 2203623 3 2206071 5 2208518 8 22109...,"[33, 1]","[neckline, top, t-shirt, sweatshirt]","[garment parts, upperbody]",2448.0,2448.0
2,0002ec21ddb8477e98b2cbb87ea2e269.jpg,[2673735 2 2676734 8 2679734 13 2682733 19 268...,"[33, 10, 23, 23]","[neckline, dress, shoe, shoe]","[garment parts, wholebody, legs and feet, legs...",3000.0,1997.0
3,0002f5a0ebc162ecfb73e2c91e3b8f62.jpg,[107288 1 107854 3 108421 2 108987 3 109554 2 ...,"[33, 10, 15]","[neckline, dress, headband, head covering, hai...","[garment parts, wholebody, head]",567.0,400.0
4,0004467156e47b0eb6de4aa6479cbd15.jpg,[241830 6 242576 16 243321 24 244066 29 244811...,"[31, 31, 33, 10, 15]","[sleeve, sleeve, neckline, dress, headband, he...","[garment parts, garment parts, garment parts, ...",750.0,500.0
...,...,...,...,...,...,...,...
45190,fff8d9bd5ad4354b66355dd797942b42.jpg,[547982 1 549481 2 550980 3 552480 4 553981 3 ...,"[33, 10, 23, 23]","[neckline, dress, shoe, shoe]","[garment parts, wholebody, legs and feet, legs...",1500.0,1000.0
45191,fffb65463df408e308983ef743b77491.jpg,[2113440 62 2116428 82 2119416 102 2122407 119...,"[6, 31, 31, 33, 1, 23, 23, 19, 18, 34]","[pants, sleeve, sleeve, neckline, top, t-shirt...","[lowerbody, garment parts, garment parts, garm...",3000.0,2247.0
45192,fffc631acce2e28e1628de685d40c980.jpg,[290845 20 291816 26 292789 30 293763 33 29473...,"[28, 31, 31, 32, 10, 23, 23, 13, 24, 18]","[collar, sleeve, sleeve, pocket, dress, shoe, ...","[garment parts, garment parts, garment parts, ...",975.0,650.0
45193,fffe20b555b98c3c1f26c8dfff275cbc.jpg,[2611656 2 2614657 4 2617657 8 2620658 11 2623...,"[6, 0, 28, 31, 31, 31, 32, 32, 32, 29, 4, 23, ...","[pants, shirt, blouse, collar, sleeve, sleeve,...","[lowerbody, upperbody, garment parts, garment ...",3000.0,2001.0
45194,ffffbf7014a9e408bfbb81a75bc70638.jpg,[116648 5 117148 16 117648 22 118148 26 118647...,"[31, 31, 33, 10]","[sleeve, sleeve, neckline, dress]","[garment parts, garment parts, garment parts, ...",500.0,375.0

In [25]:
temp_df.to_csv('../training/iMaterialist(Fashion)/dataset/train.csv', index=False)

In [7]:
#extract all available attributes and create separate table
cat_attributes = []
for i in train_df[train_df.hasAttributes].index:
    item = train_df.loc[i]
    xs = item.ClassId.split("_")
    for a in xs[1:]:
        cat_attributes.append({'ImageId': item.ImageId, 'category': int(xs[0]), 'attribute': int(a)})
cat_attributes = pd.DataFrame(cat_attributes)

cat_attributes = cat_attributes.merge(
    categories, left_on="category", right_on="id"
).merge(attributes, left_on="attribute", right_on="id", suffixes=("", "_attribute"))
cat_attributes

,ImageId,category,attribute,id,name,supercategory,level,id_attribute,name_attribute,supercategory_attribute,level_attribute
0,000e973c99dc090afd7898c93daf0dbc.jpg,6,8,6,pants,lowerbody,2,8,maxi (length),length,1
1,00537270eaf902da127c7ac9157a4db1.jpg,6,8,6,pants,lowerbody,2,8,maxi (length),length,1
2,00758bef53b4e871fe2c639a895b5988.jpg,6,8,6,pants,lowerbody,2,8,maxi (length),length,1
3,0091ae902cb738e4ca06038c2654fa00.jpg,6,8,6,pants,lowerbody,2,8,maxi (length),length,1
4,00fc1cb8809762f07f6237c96e42ac31.jpg,6,8,6,pants,lowerbody,2,8,maxi (length),length,1
...,...,...,...,...,...,...,...,...,...,...,...
71462,e66bcfa07c2b8c25c59c969286f86d2e.jpg,8,27,8,skirt,lowerbody,2,27,balloon,silhouette,1
71463,f3446a14aa6ed75fb34fb8a35684fb52.jpg,8,27,8,skirt,lowerbody,2,27,balloon,silhouette,1
71464,7984bc574e90a6c8b1bdea79032c057b.jpg,10,44,10,dress,wholebody,2,44,burnout,"textile finishing, manufacturing techniques",1
71465,d6e4543c70c8a9fc220fdb3aa4defaf5.jpg,10,44,10,dress,wholebody,2,44,burnout,"textile finishing, manufacturing techniques",1
71466,bc7a88cdf9723605e936af9700f57b2b.jpg,7,44,7,shorts,lowerbody,2,44,burnout,"textile finishing, manufacturing techniques",1

In [27]:
cat_temp_df = (
            cat_attributes.groupby("ImageId")[["name", "name_attribute"]]
            .agg(lambda x: list(x))
            .reset_index()
        )
cat_temp_df

,ImageId,name,name_attribute
0,000aac3870ea7c59ca0333ffa5327323.jpg,"[dress, cardigan, cardigan, cardigan, cardigan...","[symmetrical, symmetrical, no special manufact..."
1,000b3a87508b0fa185fbd53ecbe2e4c6.jpg,"[dress, dress, dress, dress, dress, dress, dress]","[plain (pattern), normal waist, straight, chec..."
2,000e973c99dc090afd7898c93daf0dbc.jpg,"[pants, pants, jacket, dress, pants, pants, ja...","[maxi (length), symmetrical, symmetrical, symm..."
3,0017a7bb9e2d8a0f44ce040ed164eea6.jpg,"[dress, dress, dress, dress, dress, dress, dress]","[symmetrical, plain (pattern), high waist, flo..."
4,00211c06b1fe730097dde122cd4d3f8c.jpg,"[top, t-shirt, sweatshirt, shorts, top, t-shir...","[symmetrical, symmetrical, plain (pattern), pl..."
...,...,...,...
6667,ffe98c53d299e23884221d8907ef9270.jpg,"[dress, dress, dress, dress, dress, dress]","[symmetrical, no special manufacturing techniq..."
6668,ffeabfed76854857316298991eed892c.jpg,"[dress, dress, dress, dress, dress, dress, dress]","[no special manufacturing technique, zip-up, p..."
6669,ffec8295f37df6ea12eecbb60d2c23d4.jpg,"[top, t-shirt, sweatshirt, skirt, top, t-shirt...","[symmetrical, symmetrical, no special manufact..."
6670,fff36676cdac2dd8d057783f0e9f24cc.jpg,"[skirt, skirt, cardigan, top, t-shirt, sweatsh...","[symmetrical, no special manufacturing techniq..."
6671,fff65379ba62e3f6498a20e9cc2a99fe.jpg,"[pants, pants, top, t-shirt, sweatshirt, coat,...","[maxi (length), symmetrical, symmetrical, symm..."

In [35]:
named_attributes = []
for _, row in cat_temp_df.iterrows():
    named_attributes.append({k:v for k, v in zip(row['name'], row['name_attribute'])})
cat_temp_df['named_attributes'] = named_attributes
cat_temp_df

,ImageId,name,name_attribute,named_attributes
0,000aac3870ea7c59ca0333ffa5327323.jpg,"[dress, cardigan, cardigan, cardigan, cardigan...","[symmetrical, symmetrical, no special manufact...","{'dress': 'a-line', 'cardigan': 'hip (length)'}"
1,000b3a87508b0fa185fbd53ecbe2e4c6.jpg,"[dress, dress, dress, dress, dress, dress, dress]","[plain (pattern), normal waist, straight, chec...",{'dress': 'lining'}
2,000e973c99dc090afd7898c93daf0dbc.jpg,"[pants, pants, jacket, dress, pants, pants, ja...","[maxi (length), symmetrical, symmetrical, symm...","{'pants': 'geometric', 'jacket': 'above-the-hi..."
3,0017a7bb9e2d8a0f44ce040ed164eea6.jpg,"[dress, dress, dress, dress, dress, dress, dress]","[symmetrical, plain (pattern), high waist, flo...",{'dress': 'high low'}
4,00211c06b1fe730097dde122cd4d3f8c.jpg,"[top, t-shirt, sweatshirt, shorts, top, t-shir...","[symmetrical, symmetrical, plain (pattern), pl...","{'top, t-shirt, sweatshirt': 'hip (length)', '..."
...,...,...,...,...
6667,ffe98c53d299e23884221d8907ef9270.jpg,"[dress, dress, dress, dress, dress, dress]","[symmetrical, no special manufacturing techniq...",{'dress': 'fit and flare'}
6668,ffeabfed76854857316298991eed892c.jpg,"[dress, dress, dress, dress, dress, dress, dress]","[no special manufacturing technique, zip-up, p...",{'dress': 'balloon'}
6669,ffec8295f37df6ea12eecbb60d2c23d4.jpg,"[top, t-shirt, sweatshirt, skirt, top, t-shirt...","[symmetrical, symmetrical, no special manufact...","{'top, t-shirt, sweatshirt': 'above-the-hip (l..."
6670,fff36676cdac2dd8d057783f0e9f24cc.jpg,"[skirt, skirt, cardigan, top, t-shirt, sweatsh...","[symmetrical, no special manufacturing techniq...","{'skirt': 'mini (length)', 'cardigan': 'double..."
6671,fff65379ba62e3f6498a20e9cc2a99fe.jpg,"[pants, pants, top, t-shirt, sweatshirt, coat,...","[maxi (length), symmetrical, symmetrical, symm...","{'pants': 'tight (fit)', 'top, t-shirt, sweats..."

In [36]:
temp_df

,ImageId,EncodedPixels,CategoryId,name,supercategory,Height,Width
0,00000663ed1ff0c4e0132b9b9ac53f6e.jpg,[6068157 7 6073371 20 6078584 34 6083797 48 60...,"[6, 0, 28, 31, 31, 32, 32, 29, 4]","[pants, shirt, blouse, collar, sleeve, sleeve,...","[lowerbody, upperbody, garment parts, garment ...",5214.0,3676.0
1,0000fe7c9191fba733c8a69cfaf962b7.jpg,[2201176 1 2203623 3 2206071 5 2208518 8 22109...,"[33, 1]","[neckline, top, t-shirt, sweatshirt]","[garment parts, upperbody]",2448.0,2448.0
2,0002ec21ddb8477e98b2cbb87ea2e269.jpg,[2673735 2 2676734 8 2679734 13 2682733 19 268...,"[33, 10, 23, 23]","[neckline, dress, shoe, shoe]","[garment parts, wholebody, legs and feet, legs...",3000.0,1997.0
3,0002f5a0ebc162ecfb73e2c91e3b8f62.jpg,[107288 1 107854 3 108421 2 108987 3 109554 2 ...,"[33, 10, 15]","[neckline, dress, headband, head covering, hai...","[garment parts, wholebody, head]",567.0,400.0
4,0004467156e47b0eb6de4aa6479cbd15.jpg,[241830 6 242576 16 243321 24 244066 29 244811...,"[31, 31, 33, 10, 15]","[sleeve, sleeve, neckline, dress, headband, he...","[garment parts, garment parts, garment parts, ...",750.0,500.0
...,...,...,...,...,...,...,...
45190,fff8d9bd5ad4354b66355dd797942b42.jpg,[547982 1 549481 2 550980 3 552480 4 553981 3 ...,"[33, 10, 23, 23]","[neckline, dress, shoe, shoe]","[garment parts, wholebody, legs and feet, legs...",1500.0,1000.0
45191,fffb65463df408e308983ef743b77491.jpg,[2113440 62 2116428 82 2119416 102 2122407 119...,"[6, 31, 31, 33, 1, 23, 23, 19, 18, 34]","[pants, sleeve, sleeve, neckline, top, t-shirt...","[lowerbody, garment parts, garment parts, garm...",3000.0,2247.0
45192,fffc631acce2e28e1628de685d40c980.jpg,[290845 20 291816 26 292789 30 293763 33 29473...,"[28, 31, 31, 32, 10, 23, 23, 13, 24, 18]","[collar, sleeve, sleeve, pocket, dress, shoe, ...","[garment parts, garment parts, garment parts, ...",975.0,650.0
45193,fffe20b555b98c3c1f26c8dfff275cbc.jpg,[2611656 2 2614657 4 2617657 8 2620658 11 2623...,"[6, 0, 28, 31, 31, 31, 32, 32, 32, 29, 4, 23, ...","[pants, shirt, blouse, collar, sleeve, sleeve,...","[lowerbody, upperbody, garment parts, garment ...",3000.0,2001.0
45194,ffffbf7014a9e408bfbb81a75bc70638.jpg,[116648 5 117148 16 117648 22 118148 26 118647...,"[31, 31, 33, 10]","[sleeve, sleeve, neckline, dress]","[garment parts, garment parts, garment parts, ...",500.0,375.0

In [37]:
temp_df_with_attrs = temp_df.merge(cat_temp_df[["ImageId", "named_attributes"]], on="ImageId", how="left")
temp_df_with_attrs

,ImageId,EncodedPixels,CategoryId,name,supercategory,Height,Width,named_attributes
0,00000663ed1ff0c4e0132b9b9ac53f6e.jpg,[6068157 7 6073371 20 6078584 34 6083797 48 60...,"[6, 0, 28, 31, 31, 32, 32, 29, 4]","[pants, shirt, blouse, collar, sleeve, sleeve,...","[lowerbody, upperbody, garment parts, garment ...",5214.0,3676.0,NaN
1,0000fe7c9191fba733c8a69cfaf962b7.jpg,[2201176 1 2203623 3 2206071 5 2208518 8 22109...,"[33, 1]","[neckline, top, t-shirt, sweatshirt]","[garment parts, upperbody]",2448.0,2448.0,NaN
2,0002ec21ddb8477e98b2cbb87ea2e269.jpg,[2673735 2 2676734 8 2679734 13 2682733 19 268...,"[33, 10, 23, 23]","[neckline, dress, shoe, shoe]","[garment parts, wholebody, legs and feet, legs...",3000.0,1997.0,NaN
3,0002f5a0ebc162ecfb73e2c91e3b8f62.jpg,[107288 1 107854 3 108421 2 108987 3 109554 2 ...,"[33, 10, 15]","[neckline, dress, headband, head covering, hai...","[garment parts, wholebody, head]",567.0,400.0,NaN
4,0004467156e47b0eb6de4aa6479cbd15.jpg,[241830 6 242576 16 243321 24 244066 29 244811...,"[31, 31, 33, 10, 15]","[sleeve, sleeve, neckline, dress, headband, he...","[garment parts, garment parts, garment parts, ...",750.0,500.0,NaN
...,...,...,...,...,...,...,...,...
45190,fff8d9bd5ad4354b66355dd797942b42.jpg,[547982 1 549481 2 550980 3 552480 4 553981 3 ...,"[33, 10, 23, 23]","[neckline, dress, shoe, shoe]","[garment parts, wholebody, legs and feet, legs...",1500.0,1000.0,NaN
45191,fffb65463df408e308983ef743b77491.jpg,[2113440 62 2116428 82 2119416 102 2122407 119...,"[6, 31, 31, 33, 1, 23, 23, 19, 18, 34]","[pants, sleeve, sleeve, neckline, top, t-shirt...","[lowerbody, garment parts, garment parts, garm...",3000.0,2247.0,NaN
45192,fffc631acce2e28e1628de685d40c980.jpg,[290845 20 291816 26 292789 30 293763 33 29473...,"[28, 31, 31, 32, 10, 23, 23, 13, 24, 18]","[collar, sleeve, sleeve, pocket, dress, shoe, ...","[garment parts, garment parts, garment parts, ...",975.0,650.0,NaN
45193,fffe20b555b98c3c1f26c8dfff275cbc.jpg,[2611656 2 2614657 4 2617657 8 2620658 11 2623...,"[6, 0, 28, 31, 31, 31, 32, 32, 32, 29, 4, 23, ...","[pants, shirt, blouse, collar, sleeve, sleeve,...","[lowerbody, upperbody, garment parts, garment ...",3000.0,2001.0,NaN
45194,ffffbf7014a9e408bfbb81a75bc70638.jpg,[116648 5 117148 16 117648 22 118148 26 118647...,"[31, 31, 33, 10]","[sleeve, sleeve, neckline, dress]","[garment parts, garment parts, garment parts, ...",500.0,375.0,NaN

In [38]:
temp_df_with_attrs.to_csv('../training/iMaterialist(Fashion)/dataset/train.csv', index=False)

In [39]:
temp_df_with_attrs.ImageId.value_counts()

ImageId
00000663ed1ff0c4e0132b9b9ac53f6e.jpg    1
aaa6bdf06327e514c05fbc842b156e93.jpg    1
aa423374999c180321b5afefa7c1c672.jpg    1
aa44ea197382653e78127af7e0d44a21.jpg    1
aa4528610f8bf66b458bde0f42c6d3b6.jpg    1
                                       ..
550b27ec6933d799bb38ca6f8c786f6f.jpg    1
550b35395698afe968c502e7aac4d972.jpg    1
550b59a36deac489a8b4c212630679a7.jpg    1
550bc2993d0774c9df517c1f6ba83189.jpg    1
ffffbf7014a9e408bfbb81a75bc70638.jpg    1
Name: count, Length: 45195, dtype: int64